@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
  background: url('https://belaborsboom.github.io/images/backgraund.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  color: red;
}
* {
  margin: 0px;
  padding: 0px;
}
header h1 {
  font-size: 300%;
  color: black;
  text-align: left;
}
ul {
  list-style: none;
  padding: 10px;
  padding-top: 5px;
}
ul li {
  margin-right: 0px;
  background: #F4502D;
  margin-bottom: 20px;
  border: solid 2px #FF9F55;
  padding-top: 18px;
  padding-bottom: 18px;
}
ul li a {
  text-decoration: none;
  color: #FF9F55;
  padding-top: 18px;
  padding-bottom: 18px;
}
.homeknop{
  padding-left: 20%;
  padding-right: 20%;
}
.badgesknop{
  padding-left: 15%;
  padding-right: 15%;
}
.projectenknop{
  padding-left: 7%;
  padding-right: 7%;
}
.contactknop{
  padding-left: 13%;
  padding-right: 13%;
}
ul li a:hover {
  color: black;
}
section {
  padding: 5px;
  margin: 5px;
  margin-left: 0px;
  border: none 3px black;
  float: left;
  width: 86%;
  line-height: 25px;
}
section article {
  border: 3px solid black;
  border-radius: 0px 0px 0px 20px;
  margin: 5px 10px 5px 0px;
  padding: 10px;
  background: rgba(100, 55, 0, 0.2);
}
footer h3 {
  text-align: center;
  font-weight: normal;
  font-size: 90%;
}
footer {
  float: center;
  clear: left;
}
.wrapper {
  margin: 0 10% 0 10%;
}
nav {
  float: left;
  width: 11%;
  position: relative;
  top: 50px;
  text-align: center;
}
#black {
  height: 290px;
  width: 290px;
  background-color: black;
  position: absolute;
  z-index: 1;
}
#yellow {
  height: 200px;
  width: 200px;
  background-color: yellow;
  position: absolute;
  z-index: 2;
}
#blue {
  height: 150px;
  width: 150px;
  background-color: blue;
  position: absolute;
  top: 130px;
  left: 130px;
  z-index: 3;
}
#red {
  height: 150px;
  width: 150px;
  background-color: red;
  position: absolute;
  z-index: 4;
}
#green {
  height: 150px;
  width: 150px;
  background-color: green;
  position: absolute;
  top: 75px;
  left: 75px;
  z-index: 5;
}
#fixed {
  position: relative;
  top: 15px;
  left: 10px
}
iframe {
  position: relative;
  width: 98%;
  height: 360px;
}
.foto {
  float: right;
  height: 164px;
  position: relative;
  top: 10px;
  right: 15px;
}
.foto2 {
  float: right;
  width: 240px;
}
