body {
  background: url('C:/Users/belab/OneDrive/Bureaublad/School/Coderclass/HTMLCSS2/images/backgraund.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  color: darkgrey;
}
* {
  margin: 0px;
  padding: 0px;
}
header h1 {
  font-size: 300%;
  color: black;
  text-align: left;
}
ul {
  list-style: none;
  display: flex;
  padding: 10px;
}
ul li {
  margin-right: 5px;
  background: red;
  padding: 5px;
  border: solid 2px orange;
}
ul li a {
  text-decoration: none;
  color: orange;
}
ul li a:hover {
  color: black;
}
section {
  padding: 5px;
  margin: 5px;
  border: double 4px black;
}
section article {
  border: 3px solid black;
  border-radius: 0px 20px 20px 20px;
  margin: 5px 10px 5px 0px;
  padding: 10px;
  background: darkorange;
}
